[Desktop Entry]
Version=1.0
Type=Application
Exec=alacritty
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Alacritty
Comment=Terminal Emulator
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
