[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[354 GB Encrypted]
row=2
col=0

[4E21-0000]
row=1
col=0

[F85B-3C26]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/mia]
row=5
col=0

