[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mia/SixFlags.pdf]
row=1
col=1

[/home/mia/brave_bookmarks.html]
row=1
col=2

[/home/mia/package-lock.json]
row=6
col=2

[/home/mia/vimwiki_html]
row=9
col=0

[/home/mia/2]
row=8
col=1

[/home/mia/vax_card.jpg]
row=2
col=2

[/home/mia/music]
row=4
col=3

[/home/mia/MathJax-master]
row=0
col=1

[/home/mia/MathJax-master.zip]
row=5
col=1

[/home/mia/package.json]
row=5
col=2

[/home/mia/minecraft-launcher]
row=9
col=2

[/home/mia/mutt-wizard]
row=2
col=3

[/home/mia/coca-terms.png]
row=3
col=1

[/home/mia/yay]
row=8
col=0

[/home/mia/public.key]
row=7
col=1

[/home/mia/read]
row=7
col=3

[/home/mia/scrap]
row=6
col=3

[/home/mia/screenshots]
row=9
col=3

[/home/mia/tax]
row=0
col=4

[/home/mia/vimwiki]
row=0
col=3

[/home/mia/st]
row=0
col=2

[/home/mia/palette.txt]
row=1
col=0

[/home/mia/crochet]
row=3
col=4

[/home/mia/images]
row=5
col=3

[/home/mia/apt]
row=4
col=4

[/home/mia/ginger]
row=8
col=3

[/home/mia/dotfiles]
row=9
col=1

[/home/mia/fin]
row=5
col=4

[/home/mia/phd]
row=1
col=3

[/home/mia/temp]
row=2
col=4

[/home/mia/roofcat.txt]
row=3
col=2

[/home/mia/mathjax-src]
row=4
col=1

[/home/mia/sheetmusic]
row=1
col=4

[/home/mia/wallpapers]
row=2
col=1

[/home/mia/scripts]
row=3
col=3

[/home/mia/typescript]
row=7
col=0

[/home/mia/private.key]
row=6
col=1

[/home/mia/music_library.pdf]
row=6
col=0

[/home/mia/nltk_data]
row=8
col=2

[/home/mia/node_modules]
row=7
col=2

[/home/mia/roofcat.vim]
row=4
col=2

[2021-10-17-17-31-08-00]
row=0
col=0

[354 GB Encrypted]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/mia]
row=5
col=0

